{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}
<h1>{{=specialty_record.specialty}}</h1>
<h3>
    Author: {{=specialty_record.author}} <br>{{=EM(specialty_record.email)}}
</h3>
 {{if advanced_options:}}
            <div id="advanced_options">
                {{=A('Edit Content',_href=URL('edit_post',vars={'post_id':specialty_record.id}),_class="btn btn-primary")}} <br><br>
    {{pass}}
{{form_labels = session.form_labels }}
    
{{question_list = ['pursure_a_career','rotation_useful','enjoy_most','challenging_aspects','typical_patients','typical_day','typical_hours','part_time_training','teaching_research','advice','happy_to_contact']}}
{{for question in question_list:}}
{{for field in specialty_record:}}
{{if question == field:}}
{{if specialty_record[field] != "":}}
<div id="{{=question}}" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{=form_labels[question]}}</h3>
  </div>
  <div class="panel-body">
    {{=MARKMIN(specialty_record[field])}}
  </div>
</div>
{{pass}}
{{pass}}
{{pass}}
{{pass}}

{{block left_sidebar}}
{{include 'specialty_sidebar.html'}}
{{pass}}
