{{extend 'layout.html'}}
<div class="container-fluid">
    <div class="row">
      <h1>Enter Access Key</h1>
        
    </div>
    <div class="row col-md-9 col-md-offset-3 ">
        <div class="panel panel-default">
          <div class="panel-body">
            Enter an Access Key below if you have one. <br>
            Entering an Access Key will upgrade your account and allow you to create new sessions. <br>
            If you do not have an access key but wish to get access then please contact your hospital educational department or contact us directly {{=A('here',_href=URL('help'))}}
          </div>
        </div>
    </div>
    <div class="row">
        {{=form}}
  
    </div>
</div>
