{{extend 'layout.html'}}
<h1>Authorisation Failed</h1>

<p>
    This happened because you do not have the necessary permissons to access the requested page. <br><br>
    Here's what you can do:
</p>

<ol>
    <li>If you don't have an account click {{=A('here',_href=URL('user','register'))}} to register. Remember to enter your access key.</li>
    <li>If you have an access key click {{=A('here',_href=URL('access_key'))}} to enter it</li>
    <li>{{=A('Contact us',_href=URL('default','about'))}} if you think this is an error</li>
    <li>Stop trying to access things you shouldn't. Go {{=A('Home',_href=URL('default','index'))}} or to {{=A('The Mess',_href=URL('blog','index'))}} </li>
</ol>
