{{left_sidebar_enabled = False}}
{{extend 'layout.html'}}
<div class="container-fluid" style="margin-top:25px">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 slick-class">
          <div>{{=IMG(_src='http://www.jssor.com/img/home/01.jpg')}}</div>
          <div>{{=IMG(_src='http://www.jssor.com/img/home/02.jpg')}}</div>
          <div>{{=IMG(_src='http://www.jssor.com/img/home/03.jpg')}}</div>
          <div>{{=IMG(_src='http://www.jssor.com/img/home/04.jpg')}}</div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="jumbotron col-md-6">
          <h1>TheCore.Wales</h1>
          <p>The Ultimate Online Resource for Core Medical Trainees in Wales</p>
            <p>{{=A('Browse Sessions',_href=URL('browse'),_class="btn btn-primary btn-lg",_role="button")}} </p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div id="" class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-body" >
                        <h4>
                            {{=A('Get Started',_href=URL('browse'))}}</h4>

                            <hr>
                            Click {{=A('here',_href=URL('browse'))}} to look for upcoming sessions in a hospital near you. <br><br>
                      </div>
                    </div>
            </div>
            <div id="index_box2" class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-body" >
                        <h4>
                            {{=A('Register',_href=URL('user',args='register'))}}</h4>

                            <hr>
                            {{=A('Register',_href=URL('user',args='register'))}} now to be able to sign up to sessions, manage existing ones and customise settings. 
                      </div>
                    </div>
            </div>
            <div id="index_box3" class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-body" >
                        <h4>
                            {{=A('About TheCore',_href=URL('about'))}}</h4>

                            <hr>
                            Find out {{=A('more',_href=URL('about'))}} about TheCore and how it works. <br><br>
                      </div>
                    </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{{block left_sidebar}}
<h1>Sidebar Demo Links v2</h1>

<h3>
    {{=A('Browse',_href=URL("browse"),_class="btn btn-primary")}}    {{=BR()}} <hr>
    {{=A('New Session',_href=URL("new_session"),_class="btn btn-primary")}}    {{=BR()}}
    {{=A('New Repeating Session',_href=URL("new_repeating_session"),_class="btn btn-primary")}}    {{=BR()}} <hr>
    {{=A('My Sessions',_href=URL("my_sessions"),_class="btn btn-primary")}}    {{=BR()}}  <hr>
    {{=A('View Session',_href=URL("view_session",vars={'s_id':1}),_class="btn btn-primary")}}    {{=BR()}}
    {{=A('Edit Session',_href=URL("edit_session",vars={'s_id':1}),_class="btn btn-primary")}}    {{=BR()}}  
    {{=A('Cancel Session',_href=URL("cancel_session",vars={'s_id':1}),_class="btn btn-primary")}}    {{=BR()}}   <hr>
    {{=A('Sign Up',_href=URL("sign_up",vars={'s_id':1}),_class="btn btn-primary")}}    {{=BR()}}
    {{=A('Quit Session',_href=URL("quit_session",vars={'s_id':1}),_class="btn btn-primary")}}    {{=BR()}}  <hr>
    {{=A('Feedback',_href=URL("feedback",vars={'s_id':1}),_class="btn btn-primary")}}    {{=BR()}}
    {{=A('Print Session Report',_href=URL("print_session_report",vars={'s_id':1}),_class="btn btn-primary")}}    {{=BR()}}

</h3>

{{pass}}
