{{links_dict = session.links_dict}}
<br><br>
{{if advanced_options:}}
<div class="panel panel-default">
<div class="panel-heading">
Advanced Options
</div>
<div class="panel-body">
{{=A('Edit This Page',_href=URL('edit_page',args=[page_id]),_class="btn btn-primary btn-sm")}}
{{=A('New Page',_href=URL('new_page'),_class="btn btn-primary btn-sm")}}

</div>

</div>
{{pass}}
<div class="panel panel-default">
<div class="panel-heading">
{{=SPAN(_class="glyphicon glyphicon-home")}} {{=A('Home',_href=URL('index'))}}
</div></div>

<div class="panel-group" id="accordion1">
{{for link in links_dict['level1']:}}
			<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse{{=link}}">{{=links_dict['all_links'][link].title}}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{=link}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                    	{{for sub_link in links_dict['level1'][link]:}}
						{{=DIV(A(links_dict['all_links'][sub_link].title,_href=URL('page',args=[links_dict['all_links'][sub_link].page_link])))}}
							{{for sub_sub_link in links_dict['level2'][sub_link]:}} 
								&#8627;{{=A(links_dict['all_links'][sub_sub_link].title,_href=URL('page',args=[links_dict['all_links'][sub_sub_link].page_link]))}}
							{{pass}}
						{{pass}}

                    </div>
                </div>
            </div>
{{pass}}
</div>

