{{right_sidebar_enabled=True}}
{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

<div class="row">
<br>
{{=H1(event.title)}} 

{{if advanced_options:}}
<div class="panel panel-default">
<div class="panel-heading">
Advanced Options - Events
</div>
<div class="panel-body">
{{=A('Edit This Event',_href=URL('edit_event',args=[event.id],extension=False),_class="btn btn-warning btn-sm")}} 
{{=A('New Event',_href=URL('new_event',extension=False),_class="btn btn-primary btn-sm")}}

</div>
</div>
{{pass}}

<div class="panel panel-default">
  
  <div class="panel-body">
  	<p>{{=XML(event.description)}}
  		<hr>
    <p><strong>Location:</strong> {{=event.event_location}}</p>
    <p><strong>Venue:</strong> {{=event.event_venue}}</p>
	<p><strong>Date:</strong> {{=event.event_date.strftime('%d-%m-%Y')}}</p>
	<p><strong>Start Time:</strong> {{=event.event_start_time.strftime('%H:%M')}}</p><p><strong>End Time:</strong> {{=event.event_end_time.strftime('%H:%M')}}</p>
	<p><strong>Link:</strong> {{=A(event.info_link,_href=event.info_link)}}</p>
  </div>
</div>
</div>


 
{{block right_sidebar}}
{{=LOAD('content','events_right_sidebar.load',ajax=True)}}
{{end}}

{{block left_sidebar}}
{{include 'content/events_left_sidebar.load'}}
{{pass}}