{{links_dict = {'Users':'users','Hospitals':'hospitals','Sessions':'sessions','Print Reports':'print_reports','Access Keys':'access_keys','Session Types':'session_types'} }}
{{if request.vars.db_name:}} 
{{current_link = request.vars.db_name}}
{{else:}}
{{current_link='access_keys'}}
{{pass}}
<div class="container-fluid">
    <div class="row"><br><br>
      <ul class="nav nav-pills nav-stacked">
          {{for key in sorted(links_dict):}}
              {{if current_link == links_dict[key]:}}
                  {{=LI(A(key,_href=URL('admin_page',vars={'db_name':links_dict[key]})),_class="active")}}
              {{else:}}
                  {{=LI(A(key,_href=URL('admin_page',vars={'db_name':links_dict[key]})))}}
              {{pass}}
          {{pass}}
      </ul>  
    </div>
</div>
