<!-- CUSTOM CSS ########################### -->
<link rel="stylesheet" href="{{=URL('static','css/custom_medboard.css')}}">
<!--     ############################################################################################################################################ -->
    <!--     DATATABLES.net CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
    <!-- jQuery -->
    

     <!-- DATATABLES JS at bottom of page -->
    <!-- DataTables.net JS -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>

    <!-- DATATABLES Responsive CSS-->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.3/css/dataTables.responsive.css">

    <!-- DataTables Responsive JS -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/1.0.3/js/dataTables.responsive.js"></script>
<!--     ############################################################################################################################################ -->