{{left_sidebar_enabled=True}}
{{right_sidebar_enabled=False}}

{{extend 'layout.html'}}

<h1>Browse Sessions</h1>
<div class="row">
     <h4> Choose hospital:</h4> 
	


	<div class="dropdown">

     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        

        {{if current_hospital == 'ALL':}}
                <span>ALL HOSPITALS</span>

        {{else:}}
                {{=hospitals_list[current_hospital]}}

        {{pass}}<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">

        <li>{{=A('ALL HOSPITALS',_href=URL('browse',args=['ALL']))}}</li>
        <li class="divider"></li>
        {{for hospital in hospitals_list:}}
          <li>
              
				{{=A(hospitals_list[hospital],_href=URL('browse',args=[hospital]))}}
          </li>
        {{pass}}
      </ul>
      </div>
</div>
<div class="row">
	{{=grid}}
</div>



{{block left_sidebar}}
<h1>Clinic Sessions</h1>
<ul class="nav nav-pills nav-stacked">

    {{=LI(A('Home',_href=URL('default','index'),))}}
    {{=LI(A('Browse Sessions',_href=URL('browse'),),_class="active")}}
    {{=LI(A('My Sessions',_href=URL('my_sessions'),_class=""))}}
</ul>

{{end}}

<script>
//     initialise the data table
//     setting responsive to true allows it to adapt to viewport size
    $(document).ready( function () {
        $('#data_table').DataTable( {
            responsive: true,
            scrollX: true,
            scrollY: 500,
            "lengthMenu": [ 10, 25, 50, 100 ],
            "order": [ 2, 'asc' ],
//             TODO fix ordering disabler if not displaying holpital column
//             "columnDefs": [
//                             { "orderable": false, "targets": [4,5] }
//                           ]


         });
    } );
</script>