{{from gluon.tools import prettydate}}
{{right_sidebar_enabled=True}}
{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{def get_user_name(user_id):
    user_record = db(db.auth_user.id==user_id).select().first()
    first_name = user_record.first_name
    last_name = user_record.last_name
    full_name = str(first_name + " " + last_name)
    return full_name}}

<div class="container-fluid">
{{for post in all_posts:}}
    <div class="row">
        <br>
            <div id="blog_title">
                <h2>{{=A(post.title,_href=URL('view',args=[post.id]),_class="")}}</h2>
                <h4>Posted by {{=A(get_user_name(post.created_by),_href=URL('view_user',args=[post.created_by]))}}</h4>
                <span class="glyphicon glyphicon-time"></span> {{=SPAN(prettydate(post.created_on,T))}}</h4>
            </div>
            <div id="blog_tags">
                {{if post.blog_tags:}}
                <h4>Tags:
                    {{for tag in post.blog_tags:}}
                        {{=SPAN(A(tag.tagname,_href=URL('view_category',args=[tag.id],extension=False),_class='label label-default'))}}
                    {{pass}}
                </h4>
                {{pass}}
            </div>
        
    </div>  <hr>
{{pass}}


</div>



{{block left_sidebar}}
{{=LOAD('blog','blog_sidebar.load',ajax=True)}}
{{end}}

{{block right_sidebar}}
{{=LOAD('content','events_right_sidebar.load',ajax=True)}}
{{end}}