{{from gluon.tools import prettydate}}
{{left_sidebar_enabled=True}}

{{extend 'layout.html'}}
<div class="container-fluid">
<h1>Posts by {{=user_record.first_name + " " + user_record.last_name}}</h1>
{{for post in user_posts:}}
    <div class="row">
        
            <div id="blog_title">
                <h1>{{=A(post.title,_href=URL('view_blog_post',vars={'post_id':post.id}),_class="text-uppercase blog-title")}}</h1>
                <h3>Posted by {{=EM(A(user_record.first_name + " " + user_record.last_name,_href=URL('user_posts',vars={'user_id':post.created_by})))}} - {{=SPAN(prettydate(post.created_on,T))}}</h3>
            </div>
            <div id="blog_tags">
                <h4>Tags:
                {{for tag in post.tags:}}
                    {{=SPAN(A(tag,_href='',_class='label label-default'))}}
                {{pass}}</h4>
            </div>
        
    </div>  <hr>
{{pass}}
</div>



{{block left_sidebar}}
{{include 'blog_sidebar.html'}}
{{pass}}
