{{from gluon.tools import prettydate}}
{{right_sidebar_enabled=True}}
{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

{{block left_sidebar}}
LEFT
{{end}}

{{block right_sidebar}}
RIGHT
{{end}}

{{def get_user_name(user_id):
    user_record = db(db.auth_user.id==user_id).select().first()
    first_name = user_record.first_name
    last_name = user_record.last_name
    full_name = str(first_name + " " + last_name)
    return full_name}}

{{def get_tag_name(tag_id):
    tag_record = db(db.blog_tags.id==tag_id).select().first()
    tag_name = tag_record.tagname
    return tag_name
    }}


{{if blog_post_record:}}
    <div class="row">
        <div id="blog_title">
            {{=H2(blog_post_record.title)}}
        </div>
        {{if advanced_options:}}
            <div id="advanced_options">
                {{=A('Edit Post',_href=URL('edit_blog_post',args=[blog_post_record.id]),_class="btn btn-primary")}}
        </div>
        {{pass}}
        <div id="post_details">
            <h4>Posted by {{=A(user_name,_href=URL('view_user',args=[blog_post_record.created_by]))}} under {{=A(category_record.category_name,_href=URL('view_category',args=[category_record.id]))}} </h4>
            <span class="glyphicon glyphicon-time"></span> {{=SPAN(prettydate(blog_post_record.created_on,T))}}
            
        </div>
        <hr>
       <div id="blog_content">
            {{=XML(blog_post_record.body)}}
        </div>
        {{if blog_post_record.blog_tags:}}
        <div id="blog_tags">
            <br><h4>Tags:
                    {{for tag in blog_post_record.blog_tags:}}
                    {{=SPAN(A(get_tag_name(tag),_href=URL('view_tag',args=[tag]),_class='label label-default'))}}
                    {{pass}}
                </h4>
        </div>
        {{pass}}
    </div>  <hr>

<h3>Comments</h3>
{{=A('Post Comment',_href=URL('post_comment',args=[blog_post_record.id]),_class="btn btn-primary")}}<br><br>
{{if not blog_comment_records:}}
<p>No comments yet....</p>
{{pass}}
{{for comment in blog_comment_records:}}
<div class="row">
<div class="comment_details">
    <strong>{{=get_user_name(comment.created_by)}}</strong>
    {{=SPAN(prettydate(comment.created_on,T))}}
</div>
<div class="comment_body">
{{=MARKMIN(comment.comment_body)}}
</div>
<hr>
</div>

{{pass}}
{{pass}}



{{block left_sidebar}}
{{=LOAD('blog','blog_sidebar.load',ajax=True)}}
{{end}}

{{block right_sidebar}}
{{=LOAD('content','events_right_sidebar.load',ajax=True)}}
{{end}}