{{from gluon.tools import prettydate}}
{{right_sidebar_enabled=True}}
{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}
<h1>Posts by {{=user_record.first_name + " " + user_record.last_name}}</h1>


{{for post in all_posts:}}
    <div class="row">
        
            <div id="blog_title">
                <h1>{{=A(post.title,_href=URL('view',args=[post.id]),_class="text-uppercase blog-title")}}</h1>
                <h3>Posted by {{=EM(A(user_name,_href=URL('view_user',args=[user_id])))}} 
                    - {{=SPAN(prettydate(post.created_on,T))}}</h3>
            </div>
            <div id="blog_tags">
                <h4>Tags:
                    {{=SPAN(A('tag',_href='',_class='label label-default'))}}
                </h4>
            </div>
        
    </div>  <hr>
{{pass}}




{{block left_sidebar}}
{{=LOAD('blog','blog_sidebar.load',ajax=True)}}

{{end}}

{{block right_sidebar}}
{{=LOAD('content','events_right_sidebar.load',ajax=True)}}
{{end}}