{{from gluon.tools import prettydate}}
{{left_sidebar_enabled=True}}

{{extend 'layout.html'}}
<h1>Posts with tag '{{=tag_name.tagname}}'</h1>

{{def get_user_name(user_id):
    user_record = db(db.auth_user.id==user_id).select().first()
    first_name = user_record.first_name
    last_name = user_record.last_name
    full_name = str(first_name + " " + last_name)
    return full_name}}

{{def get_tag_name(tag_id):
    tag_record = db(db.blog_tags.id==tag_id).select().first()
    tag_name = tag_record.tagname
    return tag_name
    }}



{{for post in all_posts:}}
    <div class="row">
        
            <div id="blog_title">
                <h1>{{=A(post.title,_href=URL('view',args=[post.id]),_class="text-uppercase blog-title")}}</h1>
                <h3>Posted by {{=EM(A(get_user_name(post.created_by),_href=URL('view_user',args=[post.created_by])))}} 
                    - {{=SPAN(prettydate(post.created_on,T))}}</h3>
            </div>
            <div id="blog_tags">
                
                <h4>Tags:
                    {{for tag in post.blog_tags:}}
                    {{=SPAN(A(get_tag_name(tag),_href=URL('view_tag',args=[tag]),_class='label label-default'))}}
                    {{pass}}
                </h4>

            </div>
        
    </div>  <hr>
{{pass}}


{{block left_sidebar}}
{{=LOAD('blog','blog_sidebar.load',ajax=True)}}

{{pass}}
