{{from gluon.tools import prettydate}}
{{right_sidebar_enabled=True}}
{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}
<h1>Posts under {{=category_name['category_name']}}</h1>

{{def get_user_name(user_id):
    user_record = db(db.auth_user.id==user_id).select().first()
    first_name = user_record.first_name
    last_name = user_record.last_name
    full_name = str(first_name + " " + last_name)
    return full_name}}

{{def get_tag_name(tag_id):
    tag_record = db(db.blog_tags.id==tag_id).select().first()
    tag_name = tag_record.tagname
    return tag_name
    }}



{{for post in all_posts:}}
    <div class="row">
        
            <div id="blog_title">
                <h2>{{=A(post.title,_href=URL('view',args=[post.id]))}}</h2>
                <h4>Posted by {{=A(get_user_name(post.created_by),_href=URL('view_user',args=[post.created_by]))}} </h4>
                <span class="glyphicon glyphicon-time"></span> {{=SPAN(prettydate(post.created_on,T))}}
            </div>
            {{if post.blog_tags:}}
            <div id="blog_tags">
                
                <h4>Tags:
                    {{for tag in post.blog_tags:}}
                    {{=SPAN(A(get_tag_name(tag),_href=URL('view_tag',args=[tag]),_class='label label-default'))}}
                    {{pass}}
                </h4>

            </div>
            {{pass}}
        
    </div>  <hr>
{{pass}}


{{block left_sidebar}}
{{=LOAD('blog','blog_sidebar.load',ajax=True)}}

{{end}}

{{block right_sidebar}}
{{=LOAD('content','events_right_sidebar.load',ajax=True)}}
{{end}}
